
@media only screen and (min-width: 768px) {


  header {
    background: rgb(240, 240, 240);
  }

  i {
    font-size: 1em;
  }
  .email,
  .phone,
  .social {
    font-size: 15px;
    font-weight: bold;
    i {
      font-size: 1.2em;
      margin: 2px;
      display: inline-flex;
      vertical-align: middle;
    }
  }
  .info {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      width: 100%
  }
  .grid-template-columns-3 {
    height: 100px;
    display : inline-flex
  }
  .item{

      margin-left: 150px;
      margin-right: 150px;
  }
  .right{
      text-align: right;
      grid-column: span 4;
  }
  .left{
      grid-column: span 8;
  }



}
