<header>
  <section class="info">
    <div class="item left" style="display: inline-flex;">
      <div class="email">
        <p  matTooltip="E-mail para contato"> <i class="far fa-envelope"></i>{{ email }}</p>
      </div>
      <div class="phone" style="margin-left: 20px;" matTooltip="Número para contato">
        <p ><i class="fas fa-phone"></i>{{ phone | mask:'(00) 00000-0000' }}</p>
      </div>
    </div>
    <div class="item right">
      <div class="social" matTooltip="Rede Social">
        <p> <i class="fab fa-facebook-square"></i>
          <i class="fab fa-instagram"></i>@{{ social }}</p>
      </div>
    </div>
  </section>
</header>
