<header>
  <section class="info">
    <div class="item left" style="display: inline-flex;">
      <div class="email">
        <p> <i class="far fa-envelope"></i> loremipsum@lorem.com</p>
      </div>
      <div class="phone" style="margin-left: 20px;">
        <p><i class="fas fa-phone"></i>(81) 900.000.000</p>
      </div>
    </div>
    <div class="item right">
      <div class="social">
        <p> <i class="fab fa-facebook-square"></i>
          <i class="fab fa-instagram"></i>@LoremIpsum</p>
      </div>
    </div>
  </section>
</header>