.foto{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background: white;
}
h3{
    color:white;
    margin:0px;
    font-weight: 400;
    margin-top: 5px;
}
.miniatura{
    float:left;
    margin:30px;
    text-align: center;
}