@font-face {
    font-family: FuturaBook;
    src: url("FUTURABOOK.TTF") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: FuturaBook;
    src: url("FUTURABOOK_ITALIC.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: FuturaHeavy;
    src: url("FUTURAHEAVY_BT.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: FuturaHeavy;
    src: url("FUTURAHEAVY_ITALIC.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: HTowerT;
    src: url("HTOWERT.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: HTowerT;
    src: url("HTOWERTI.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}