<mat-toolbar color="accent">

  <mat-toolbar-row id="navbarrow">
      <button mat-button routerLink="" ><span>LOREM IPSUM</span></button>
      <button mat-button routerLink="teste"><span>LOREM IPSUM</span></button>
      <button mat-button routerLink="teste"><span>LOREM IPSUM</span></button>
      <button mat-button routerLink="teste"><span>LOREM IPSUM</span></button>
      <button mat-button routerLink="teste"><span>LOREM IPSUM</span></button>
      <button mat-button routerLink="teste"><span>LOREM IPSUM</span></button>
  </mat-toolbar-row>
</mat-toolbar>
