<mat-toolbar color="accent">
  <mat-toolbar-row id="navbarrow" >
    <div [hidden]="menuResponsivo">
        <button mat-button routerLink="" ><span>LOREM IPSUM</span></button>
        <button mat-button routerLink="teste"><span>LOREM IPSUM</span></button>
        <button mat-button routerLink="teste"><span>LOREM IPSUM</span></button>
        <button mat-button routerLink="teste"><span>LOREM IPSUM</span></button>
        <button mat-button routerLink="teste"><span>LOREM IPSUM</span></button>
        <button mat-button routerLink="teste"><span>LOREM IPSUM</span></button>
    </div>
    <div [hidden]="!menuResponsivo">
        <button mat-button [matMenuTriggerFor]="menu"><i class="fas fa-bars" style="font-size: 30px;"></i></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="teste">LOREM IPSUM</button>
          <button mat-menu-item routerLink="">LOREM IPSUM</button>
          <button mat-menu-item routerLink="teste">LOREM IPSUM</button>
          <button mat-menu-item routerLink="">LOREM IPSUM</button>
          <button mat-menu-item routerLink="teste">LOREM IPSUM</button>
          <button mat-menu-item routerLink="">LOREM IPSUM</button>
        </mat-menu>
    </div>
</mat-toolbar-row>
</mat-toolbar>
