<form class="formulario-reativo" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col1">

      <label for="nome">Nome *</label>
      <input id="nome" type="text" formControlName="nome" mask="S*">
      <app-error-msg [control]="formulario.get('nome')" label="Nome">
      </app-error-msg>

      <div class="margemInput">
        <label for="email">E-mail *</label>
        <input id="email" type="text" formControlName="email">
        <app-error-msg [control]="formulario.get('email')" label="E-mail">
        </app-error-msg>
      </div>

      <div class="margemInput">
        <label for="numero">WhatsApp *</label>
        <input id="numero" type="text" formControlName="numero" mask="(00) 00000-0000">
        <app-error-msg [control]="formulario.get('numero')" label="Número">
        </app-error-msg>
      </div>

    </div>
    <div class="col2">

      <label for="mensagem">Mensagem *</label>
      <textarea id="mensagem" type="text" formControlName="mensagem" rows="5"></textarea>
      <app-campo-control-erro [mostrarErro]="verificaValidTouched('mensagem')" [mensagemErro]="mensagemErro">
      </app-campo-control-erro>

      <button type="submit" mat-button #botao><span>Enviar</span></button>
      <mat-progress-bar mode="indeterminate" *ngIf="progress"></mat-progress-bar>
    </div>
  </div>

</form>
