.teste{
    width: 60%;
    margin:0 auto;
    text-align: center;
}
.teste1{
    width: 60%;
    margin:0 auto;
    text-align: center;
}
mat-spinner{
    margin:0 auto;
}

.teste h1{
    font-family: FuturaBook;
    font-weight: bold;
    color:brown;
    font-size: 30px;
}
.teste p{
    font-family: FuturaHeavy;
    font-weight: bolder;
    color:rgb(255, 179, 0);
    font-size: 25px;
}