<header>
  <section class="logo">
      <div class="item left" >
        <div class="textoHorario">
          Horário de Funcionamento
        </div>
        <div class="horario">
          Segunda à sábado: 9h - 17h
        </div>
      </div>
      <div class="item center">
        <img draggable="false" routerLink="" src="../../../assets/logo/Homepage_Logo.png" alt="" width="200">
      </div>
      <div class="item right">
        <div class="contato">
          <button mat-button ><span>Entre em contato</span></button>
        </div>
      </div>
    </section>
</header>