/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #CFCC4F;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  #222d30;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  #171e20;
  }