<section id="titulo">
  <div class="row">
    <div class="col">
      <div class="imagem"></div>
    </div>
    <div class="col">
      <div class="texto" style="width:100%;height: 100px;">
        <p>Lorem Ipsum</p>
        <h1 style="border-bottom: 1px solid #222D30;font-size: 100px;margin:0px;padding:0px">LOREM</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.</p>
      </div>
    </div>
  </div>
</section>



<section id="video">
  <div class="row">
    <div class="col">
      <div class="textoVideo" style="width:100%;height: 100px;">
        <h1 style="border-bottom: 1px solid #222D30;font-size: 40px;margin:0px;padding:0px">LOREM IPSUM LOREM</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.</p>
      </div>
    </div>
    <div class="col">
      <div class="imagemVideo"></div>
    </div>
  </div>
</section>



<section id="perfis">
  <div class="spanText">
    <h2 style="color:#CFCC4F;text-decoration: underline;margin:0px">LOREM IPSUM LOREM</h2>
    <span style="color:white;">Lorem ipsum dolor sit amet, consectetur adipscing elit. Ut sit amet tincdunt ligula. Sed
      scelerisque</span>
  </div>
  <div class="perfilMiniatura">
    <app-miniatura></app-miniatura>
    <app-miniatura></app-miniatura>
    <app-miniatura></app-miniatura>
    <app-miniatura></app-miniatura>
    <app-miniatura></app-miniatura>
  </div>
</section>
<section id="cards">
  <div class="spanText">
    <h2 style="color:#222D30;text-decoration: underline solid #CFCC4F;margin:0px">LOREM IPSUM LOREM</h2>
    <span style="color:#222D30">Lorem ipsum dolor sit amet, consectetur adipscing elit. Ut sit amet tincdunt ligula.
      Sed scelerisque</span>
  </div>

  <div class="cardBox">
    <app-card2 style="float:left"></app-card2>
    <app-card2 style="float:left"></app-card2>
    <app-card1 style="float:left"></app-card1>
    <app-card1 style="float:left"></app-card1>
  </div>

</section>

<section id="formulario">
  <div class="spanText">
    <h2 style="color:#222D30;text-decoration: underline solid rgb(255, 255, 255);margin:0px">LOREM IPSUM LOREM</h2>
    <span style="color:#222D30">Lorem ipsum dolor sit amet, consectetur adipscing elit. Ut sit amet tincdunt ligula.
      Sed scelerisque</span>
  </div>
  <div class="boxForm">
    <app-formulario></app-formulario>
  </div>
</section>