#titulo {
  height: 80vh;
  background: rgba(207, 205, 79, 0.746);
}

#video {
  height: 40vh;
  background: rgba(255, 255, 255, 0.746);
}
#perfis {
  height: 70vh;
  background: #222d30;
}
#formulario{
  height: 70vh;
  background: #CFCC4F;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 70%;
  margin: 0 auto;
}
.col {
  grid-column: span 6;
  margin: 20px;
  margin-top: 30px;
}

.texto {
  margin-top: 70px;
}
.textoVideo {
  margin-top: 20px;
}
.imagemVideo {
  width: 100%;
  height: 200px;
  background: rgb(255, 255, 255);
  border: 1px solid #222d30;
}
.imagem {
  width: 100%;
  height: 420px;
  background: rgb(255, 255, 255);
  border: 1px solid #222d30;
}
.perfilMiniatura {
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cards {
  background: white;
  height: 100vh;
}

.spanText {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

.cardBox{
  width: 68%;
  margin:0 auto;
}

.boxForm{
  width:70%;
  margin: 0 auto;
}